.heading {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
}

.name {
    font-size: 40px;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-cell {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    margin-bottom: 10px;
}

.repo-link-panel {
    align-self: end;
    display: flex;
    justify-self: end;
}

.repo-link {
    align-self: center;
    display: flex;
}

.project-panel {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
}

.project-image {
    width: 200px;
    height: 150px;
}

.project-title {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.project-description {
    color: darkgray;
}

.repo-icon {
    height: 25px;
    width: 25px;
    align-self: center;
}

.icon-tray {

}

.icon-tray img {
    height: 50px;
    width: 50px;
}

